<div class = "col-xs-10 col-xs-offset-1 text-center">
<%= @user.email %>
<br />
<% if @user.check_in.blank? %>
	<h2>You haven't started.
	<br />
	Why don't you start?</h2>
	<%= link_to 'My FIRST day!', user_path(@user), :method => :put, :class => 'btn btn-success' %>
<% else %>
	<h2>Awesome, you checked in on 
	<%= @user.updated_at.strftime("%m/%d/%Y") %>
	<br />
	You've got 
	<div class="gradient"><h3><%= @user.check_in %></h3></div>
	 days of a streak!
	<% if @user.updated_at.to_date == Date.current %>
		Good job on being strong!  Tomorrow will be ONE more day!
	<% else %>
		It's a new day <br />
		Why don't you go again?
		<%= link_to 'Keep it going!', user_path(@user), :method => :put, :class => 'btn btn-success' %></h2>
	<% end %>
<% end %>
</div>